@import 'variables';

.movies-count-box {
  margin: 1.5rem 0 0.5rem;

  .movies-count {
    font-weight: $bold;
  }
}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &[class*='centered'] {
    justify-content: center;
    margin: 3rem auto 0;
  }
}
