@import 'variables';

.search-box-container {
  margin-bottom: 2rem;

  .search-header {
    width: 100%;

    .title {
      font-size: 2rem;
      font-weight: $bold;
      margin: 4rem auto 2rem;
      text-align: center;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;

    @include extra-small-screen {
      flex-wrap: wrap;
    }

    .app-button {
      background-color: $lightCrimson;
      border: 1px $lightCrimson solid;
      border-radius: 5px;
      color: $white;
      margin-left: 1rem;
      padding: 0.5rem 2.2rem;

      @include extra-small-screen {
        margin: 1.5rem 0;
        padding: 1rem;
        width: 100%;
      }

      &:hover {
        @include button-box-shadow;

        background-color: $lightCrimson;
        border-color: $lightCrimson;
      }
    }
  }
}
