// COLORS
$black: #000000;
$white: #ffffff;

$paleGray: #c9c9c9;
$gray: #909090;
$gray2: #6b6b6b;
$deepGray: #252525;
$deepGray2: #1e1e1e;

$paleCrimson: #ed6493;
$lightCrimson: #f50057;
$lightCrimsonWithOpacity: rgba(245, 0, 87, 0.22);
$crimson: #c2185b;
$deepCrimson: #911144;

$golden: #e6b91e;

// FONT SIZES
$bold: 700;
$light: 300;
$regular: 400;

// SCREEN SIZES
$extraSmall: 575px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

// MIXINS
@mixin button {
  align-items: center;
  border-radius: 0;
  color: $crimson;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: $bold;
  justify-content: center;
  padding: 1rem 1.2rem;
  transition: 0.1s;
  user-select: none;

  &:hover {
    background-color: $crimson;
    border-color: $crimson;
    color: $white;
  }
}

@mixin button-box-shadow {
  box-shadow: 0 14px 21px 0 $lightCrimsonWithOpacity;
}

@mixin form-field {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  width: 100%;
}

@mixin form-field-label {
  color: $lightCrimson;
  font-size: 0.9rem;
  font-weight: $bold;
  width: 100%;
}

@mixin modal {
  background-color: $deepGray;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  max-height: 100vh;
  overflow: auto;
  padding: 3rem;
  position: absolute;
  top: 0;
  width: 100vw;

  @include scrollbar;
}

@mixin modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  &[class*='open'] {
    display: flex;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    background-color: $deepGray;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    background-color: $deepGray;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 5px;
  }
}

@mixin text-field-box {
  background-color: $deepGray;
  border: 1px $gray solid;
  border-radius: 5px;
  box-shadow: none;
  color: $white;
  font-size: 1.2rem;
  font-weight: $regular;
  outline: 0;
  padding: 0.7rem 1rem;
  position: relative;
  width: 30rem;

  &:hover {
    border-color: $paleGray;
  }

  &:focus {
    border-color: $paleGray;
  }

  &:placeholder-shown {
    color: $paleGray;
    font-weight: $light;
  }
}

// SCREEN SIZES MIXINS
@mixin extra-small-screen {
  @media (max-width: $extraSmall) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: $large) {
    @content;
  }
}

@mixin extra-large-screen {
  @media (min-width: $extraLarge) {
    @content;
  }
}
