@import 'variables';

.app-card {
  margin: 1rem;
  position: relative;
  width: 18rem;

  @include small-screen {
    width: 14rem;
  }

  @include medium-screen {
    width: 13rem;
  }

  @include large-screen {
    width: 13rem;
  }

  @include extra-large-screen {
    width: 16rem;
  }
}
