@import 'variables';

.app-multiple-selection-form-field {
  @include form-field;

  .app-multiple-selection-form-field-label {
    @include form-field-label;
  }

  .app-multiple-selection-form-input-box {
    @include text-field-box;

    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
  }
}
