@import 'variables';

.app-movie-page {
  .main {
    align-items: center;
    display: flex;
    flex-direction: column;

    .search-box-container {
      margin-bottom: 2rem;

      .search-header {
        width: 100%;

        .title {
          font-size: 2rem;
          font-weight: $bold;
          margin: 4rem auto 2rem;
          text-align: center;
        }
      }
    }
  }
}
